<!-- <div style="background-color: rgb(104, 180, 243);"> 
  <h4 class="my-3">
    Employee list
  </h4>  -->

  <h4 class="my-4">
    
 
 
<div class="b float-left" role="group" aria-label="Basic example" style="margin-right: 5px;"  >
 
  <button type="button" class="btn btn-primary" (click) = "showEmployees()">Employees</button>
 
</div>

 <div >
   <button type="button" class="btn btn-primary" (click) = "showProducts()">Prducts</button> 
 </div>
  

</h4> 



  <div>
  <app-custom-grid   [rows]="rows"  [totalrecords] = "totalRecords" (pageChanged) = "onPageChange($event)" > </app-custom-grid>
  </div>  
    