<!-- <div style="background-color: rgb(104, 180, 243);">  -->
  <h4 class="my-3">
    <span [hidden] = "!isEmpGridActive">Employee list </span>
    <span  [hidden] = "isEmpGridActive">Products list </span>
  </h4> 


    
 
 
<div class="btn-group float-right mb-3" role="group" aria-label="Basic example" >
 
  <button [ngClass] = "isEmpGridActive ? 'btn-primary':  'btn-secondary'" type="button" class="btn" (click) = "showEmployees()">Employees</button>
  <button [ngClass] = "!isEmpGridActive ? 'btn-primary' : 'btn-secondary'" type="button" class="btn" (click) = "showProducts()">Prducts</button>  
</div>

  <div>

  <app-custom-grid   [rows]="rows"  [totalrecords] = "totalRecords" current-page = "currentPage"
  (pageChanged) = "onPageChange($event)" > </app-custom-grid>

   
 
  </div>  
    